{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Visarun{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/table.css' %}">
    <script src="https://unpkg.com/htmx.org@2.0.7"></script>
</head>
<body>
<header class="header">
    <div class="header-container">

        <a href="/" class="logo">
            <span class="logo-icon">🌍</span>
            <span class="logo-text">Visarun</span>
        </a>

        <nav class="nav">
            <a href="/">Страны</a>
            <a href="/about/">О проекте</a>
            <a href="/blog/">Блог</a>
        </nav>

    </div>
</header>
    {% block content %}{% endblock %}
</body>
</html>