{% extends "base.html" %}

{% block content %}

<div class="table-wrapper">
    <table class="visa-table">
        <thead>
            <tr>
                <th>Страна</th>
                <th>Тип визы</th>
                <th>Кол-во дней без визы</th>
                <th>Комментарии</th>
            </tr>
        </thead>

        <tbody>
        {% for rule in rules %}
            <tr>
                <td>{{ rule.name }}</td>
                <td>{{ rule.visa_status }}</td>
                <td>{{ rule.days }}</td>
                <td>еее</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}