{% extends "base.html" %}

{% block content %}

<label>
    <input
        type="checkbox"
        name="visa_free"
        hx-get="/"
        hx-trigger="change"
        hx-target="#countries-table"
        hx-swap="innerHTML"
    >
    Только Visa Free
</label>

<div class="table-wrapper">
    <table class="visa-table">
        <thead>
            <tr>
                <th>Страна</th>
                <th>Тип визы</th>
                <th>Кол-во дней без визы</th>
                <th>Комментарии</th>
            </tr>
        </thead>

        <tbody id="countries-table">
            {% include "countries_table.html" %}
        </tbody>
    </table>
</div>

{% endblock %}